
<tr>
	<td><%= link_to image_tag(screenshot.image.variant(resize: "70x70"), class: 'media-object'), url_for(screenshot.image), target: '_blank' %></td>
	<td><%= screenshot.title %></td>
	<td>
		<a href="#" onclick="prompt('Press Ctrl + C, then Enter to copy to clipboard','<%= rails_blob_url(screenshot.image, disposition: 'attachment') %>')">Click to Copy</a>
	</td>
	<td>
		<%= link_to 'Delete', screenshot_path(screenshot), data: {confirm: 'Are you sure?'}, method: :delete, remote: true, class: 'delete_screenshot' %>
	</td>
</tr>
